body {
    background-color: DodgerBlue;
  }
  
  h1.myclass{
    color:Tomato;
  }
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color:Tomato;
  }
         
  p.center {
  text-align: center;
  color: bisque;
  }
  p.large{
      font-size: 90px;
  }